.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

@import './pages/landing/landing.scss';
@import './pages/login/login.scss';
@import './pages/signup/signup.scss';
@import './pages/home/home.scss';
@import './pages/profile/profile.scss';
@import './pages/upload/upload.scss';